<!DOCTYPE html>
<html lang="en">

<! HEAD -->
<%- include('./partials/head') %>
<! HEAD -->

<body>
        <! HEADER -->
        <%- include('./partials/header') %>
        <! HEADER -->
        
        <! CARRUSEL DE PRODUCTOS -->
        <%- include('./partials/carrusel') %>
        <! CARRUSEL DE PRODUCTOS -->
        
        <! PRODUCTOS -->
        <div class="container">
                <div class="articles-container">
                        <div class="row articulos">
                                <% for(i = 0; i < productos.length; i++) { %>
                                        <section class="col-sm-12 col-md-6 col-lg-3">
                                                <div class="article-box">
                                                        <a href="/products/<%= productos[i].id %>">
                                                                <img src="/images/<%= Math.floor(Math.random() * (3 - 1)) + 1 %>.png" alt="imagen producto"
                                                                class="imagen-producto">
                                                                <div class="article-data">
                                                                        <h3><%= productos[i].nombre %></h3>
                                                                </div>
                                                        </a>
                                                        <% if(productos[i].precio){ %>
                                                        <p>$<%= productos[i].precio %></p>
                                                        <% } %>
                                                        <% if(productos[i].marca){ %>
                                                        <p><%= productos[i].marca.nombre %></p>
                                                        <% } %>
                                                        <% if(productos[i].categoria){ %>
                                                        <p><%= productos[i].categoria.nombre %></p>
                                                        <% } %>
                                                                                        
                                                </div>
                                        </section>
                                <% } %>
                        </div>
                </div>
                <form action="/products" method="get">
                        <div class="button-container">
                                <button type="submit" class="btn btn-primary">Ver todos los productos</button>
                        </div>
                </form>
        </div>

        <! PRODUCTOS -->
        
        <! FOOTER -->
        <%- include('./partials/footer') %>
        <! FOOTER -->

</body>
                        
</html>