<!DOCTYPE html>
<html lang="en">
<! HEAD -->
<%- include('../partials/head') %>
<! HEAD -->

<body>
    <! HEADER -->
    <%- include('../partials/header') %>
    <! HEADER -->
    <h1><%= usuario.first_name %> <%= usuario.last_name %></h1>
    <p><%= usuario.email %></p>
    <p><%= usuario.gender %></p>
    <! FOOTER -->
    <%- include('../partials/footer') %>
    <! FOOTER -->
</body>

</html>