<!DOCTYPE html>
<html lang="en">
<! HEAD -->
<%- include('../partials/head') %>
<! HEAD -->

<body>
    <! HEADER -->
    <%- include('../partials/header') %>
    <! HEADER -->
    <div class=container>
        <main>
            <div>
                <h2>Crear Cuenta</h2>
                
                        <form action="/users/register" method="POST" id="userCreate">
                            <div class="form-row">
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault01">Nombre</label>
                                <input type="text" class="form-control" id="validationDefault01" value="<%= typeof data != 'undefined' ? data.first_name: '' %>" required name="first_name">
                                <div class='invalid-feedback'></div>
                              </div>
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault02">Apellido</label>
                                <input type="text" class="form-control" id="validationDefault02" value="<%= typeof data != 'undefined' ? data.last_name: '' %>" required name="last_name">
                                <div class='invalid-feedback'></div>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault03">Email</label>
                                <input type="email" class="form-control" id="validationDefault03" required value="<%= typeof data != 'undefined' ? data.email : '' %>" name="email">
                                <div class='invalid-feedback'></div>
                              </div>
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault05">Contraseña</label>
                                <input type="password" class="form-control" id="validationDefault05" required name="password">
                                <div class='invalid-feedback'></div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                <label class="form-check-label" for="invalidCheck2">
                                  Lei y acepto los terminos
                                </label>
                              </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Registrarse</button>
                          </form>
                    </div>
                </main>
                
                
            </div>
            
            
            
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
            <! FOOTER -->
            <%- include('../partials/footer') %>
            <! FOOTER -->
            <script src="/js/validator.js"></script>
            <script src="/js/UserCreateValidator.js"></script>
        </body>
        
        </html>