<!DOCTYPE html>
<html lang="en">
<! HEAD -->
<%- include('../partials/head') %>
<! HEAD -->

<body>
    <! HEADER -->
    <%- include('../partials/header') %>
    <! HEADER -->
    <ul>
        <% for (let i=0; i < usuarios.length; i++) { %>
            <li><%= usuarios[i].first_name %></li>
            <p><%= usuarios[i].email %></p>
        <% } %>
    </ul>
    <! FOOTER -->
    <%- include('../partials/footer') %>
    <! FOOTER -->
</body>

</html>