<!DOCTYPE html>
<html lang="en">
<! HEAD -->
<%- include('../partials/head') %>
<! HEAD -->

<body>
    <! HEADER -->
    <%- include('../partials/header') %>
    <! HEADER -->
    <div class=container>
        <main>
            <div>
                <h2>Crear Cuenta</h2>
                
                        <form action="/users/register" method="POST" id="userCreate">
                            <label for="nombre">Nombre</label><br>
                            <input type="text" name="first_name" id="nombre" value="<%= typeof data != 'undefined' ? data.first_name : '' %>"><br>
                            <label for="apellido">Apellido</label><br>
                            <input type="text" name="last_name" id="apellido" value="<%= typeof data != 'undefined' ? data.last_name: '' %>"><br>
                            <label for="email">Email</label><br>
                            <input type="email" name="email" id="email" value="<%= typeof data != 'undefined' ? data.email : '' %>"><br>
                            <label for="contrasenia">Contraseña</label><br>
                            <input type="password" name="password" id="contrasenia"><br>
                            <input type="checkbox" name="" id="tyc">
                            <label for="tyc">Leí y acepto los <a href="">Terminos y Condiciones</a></label><br>
                            <button class="btn btn-dark" type="submit">Registrarse</button>
                        </form>
                    </div>
                </main>
                
                
            </div>
            
            
            
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
            <! FOOTER -->
            <%- include('../partials/footer') %>
            <! FOOTER -->
            <script src="/js/UserCreateValidator.js"></script>
        </body>
        
        </html>