<! HEAD -->
<%- include('../partials/head') %>
<! HEAD -->

<body>
    <! HEADER -->
    <%- include('../partials/header') %>
    <! HEADER -->
    
    <main class="container">
        <div class="producto-container">
            <h2>Producto nuevo</h2>
            <form method="POST" action="/products/create" id="productCreate">
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationDefault01">Nombre</label>
                    <input type="text" class="form-control" id="validationDefault01" name="nombre">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationDefault03">Descripción</label>
                    <input type="text" class="form-control" id="validationDefault03" name="descripcion">
                </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationDefault02">Precio</label>
                        <input type="text" class="form-control" id="validationDefault02" name="precio">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationDefault04">Categoria</label>
                        <select class="custom-select" id="validationDefault04" name="categoria">
                            <option selected disabled value="">Elegir...</option>
                            <% for (let i = 0; i < categorias.length; i++) { %>
                            <option value="<%= categorias[i].id %>"><%= categorias[i].nombre %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationDefault04">Marca</label>
                        <select class="custom-select" id="validationDefault04" name="marca">
                            <option selected disabled value="">Elegir...</option>
                            <% for (let i = 0; i < marcas.length; i++) { %>
                            <option value="<%= marcas[i].id %>"><%= marcas[i].nombre %></option>
                            <% } %>
                        </select>
                      </div>
                </div>
                </div>
                <button class="btn btn-dark" type="submit">Agregar Producto</button>
              </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/validator.js"></script>
    <script defer src="/js/productsValidator.js"></script>
</body>