<! HEAD -->
<%- include('../partials/head') %>
<! HEAD -->

<body>
    <! HEADER -->
    <%- include('../partials/header') %>
    <! HEADER -->
    
    <main>
        <div class="producto-container">
            <h2>Producto nuevo</h2>
            <form method="POST" action="/products/create">
                <div>
                    <p>as</p>
                    <label for="nombre">Nombre</label><br>
                    <input type="text" name="nombre" id="nombre">
                </div>
                <div>
                    <label for="descripcion">Descripcion</label><br>
                    <input type="text" name="descripcion" id="descripcion">
                </div>
                <div>
                    <label for="categoria">Categoria</label><br>
                    <select name="categoria" id="">
                        <% for (let i = 0; i < categorias.length; i++) { %>
                        <option value="<%= categorias[i].id %>"><%= categorias[i].nombre %></option>
                        <% } %>
                    </select>
                </div>
                <div>
                    <label for="categoria">Marca</label><br>
                    <select name="marca" id="">
                        <% for (let i = 0; i < marcas.length; i++) { %>
                        <option value="<%= marcas[i].id %>"><%= marcas[i].nombre %></option>
                        <% } %>
                    </select>
                </div>
                <div>
                    <label for="precio">Precio</label><br>
                    <input type="number" name="precio" id="precio">
                </div>
                <div>
                    <button class="btn btn-dark" type="submit">Agregar Producto</button>
                </div>
                </form>
            </div>
    </main>
    <%- include('../partials/footer') %>
</body>