<! HEAD -->
<%- include('../partials/head') %>
<! HEAD -->

<body>
    
    <div class=container>
        
        <! HEADER -->
        <%- include('../partials/header') %>
        <! HEADER -->
                <div class="datos">
                    
                    <h3><%= producto.nombre %></h3>
                    <p><%= producto.descripcion %></p>
                    <p><%= producto.categoria_id%></p>
                    <p><%= producto.marca_id%></p>
                    <p>$<%= producto.precio %></p>


                    <button type="button" class="btn btn-info">Comprar</button>
                    <button type="button" class="btn btn-success">Agregar a carrito</button>
                    <% if(usuarioLogueado != undefined) {%> 
                    <form action="/products/edit/<%= producto.id %>" method="get">
                        <button type="submit" class="btn btn-danger">Editar</button>
                    </form>
                    <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                    <% } %>
                </div>		
                
            </div>         
            <! FOOTER -->
            <%- include('../partials/footer') %>
            <! FOOTER -->
        </div>
        
    </body>
    
    </html>