<! HEAD -->
<%- include('../partials/head') %>
<! HEAD -->

<body>
    
    <! HEADER -->
    <%- include('../partials/header') %>
    <! HEADER -->
    <div class="container">
        <div class="row articulos">
            <% for(i = 0; i < productos.length; i++) { %>
                <section class="col-sm-12 col-md-6 col-lg-3">
                    <div class="article-box">
                        <a href="/products/<%= productos[i].id %>">
                            <img src="/images/<%= Math.floor(Math.random() * (3 - 1)) + 1 %>.png" alt="imagen producto"
                            class="imagen-producto">
                            <div class="article-data">
                                <h3><%= productos[i].nombre %></h3>
                            </div>
                        </a>
                        <div class="article-data">
                            <% if(productos[i].precio){ %>
                            <h4>$<%= productos[i].precio %></h4>
                            <% } %>
                            <% if(productos[i].marca){ %>
                            <p><%= productos[i].marca.nombre %></p>
                            <% } %>
                            <% if(productos[i].categoria){ %>
                            <p><%= productos[i].categoria.nombre %></p>
                            <% } %>
                        </div>
                                </div>
                            </section>
                            <% } %>
                        </div>
                    </div>
                    
                    <! FOOTER -->
                    <%- include('../partials/footer') %>
                    <! FOOTER -->
                </body>
                
                </html>