<!DOCTYPE html>
<html lang="en">
<! HEAD -->
<%- include('../partials/head') %>
<! HEAD -->

<body>
    <! HEADER -->
    <%- include('../partials/header') %>
    <! HEADER -->
    <div class=container>
        <main>
            <div>
                <h2>Crear Cuenta</h2>
                
                        <form action="/users/register" method="POST" id="userCreate" enctype="multipart/form-data">
                            <div class="form-row">
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault01">Nombre</label>
                                <input type="text" class="form-control" id="validationDefault01" value="<%= typeof data != 'undefined' ? data.first_name: '' %>" required name="first_name">
                                <div class='invalid-feedback'></div>
                              </div>
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault02">Apellido</label>
                                <input type="text" class="form-control" id="validationDefault02" value="<%= typeof data != 'undefined' ? data.last_name: '' %>" required name="last_name">
                                <div class='invalid-feedback'></div>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault03">Email</label>
                                <input type="email" class="form-control" id="validationDefault03" required value="<%= typeof data != 'undefined' ? data.email : '' %>" name="email">
                                <div class='invalid-feedback'></div>
                              </div>
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault05">Contraseña</label>
                                <input type="password" class="form-control" id="validationDefault05" required name="password">
                                <div class='invalid-feedback'></div>
                              </div>
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault05">Avatar</label>
                                <input type="file" class="form-control" id="validationDefault05" name="avatar">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                <label class="form-check-label" for="invalidCheck2">
                                  Lei y acepto los terminos
                                </label>
                              </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Registrarse</button>
                          </form>
                    </div>
                </main>
            </div>
            <! FOOTER -->
            <%- include('../partials/footer') %>
            <! FOOTER -->
            <script src="/js/validator.js"></script>
            <script src="/js/UserCreateValidator.js"></script>
        </body>
        
        </html>